body {
  font: 15px Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color:#666;
}

.logo{
  text-align: center;
  margin:auto;
  display:block;
}



.container{
  width:750px;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding:20px;
  border-top: #83cd39 3px solid;
}

.clr{
  clear: both;
}

ul{
  padding:0;
  margin:0;
}

h1,h2,h3,p{
  padding:5px 0;
  margin-bottom:0;
}

p{
  margin:0;
}

a {
  color: #00B7FF;
}

nav{
  background:#404137;
  color:#fff;
  overflow:auto;
  height:40px;
  padding:20px 0 0 10px;
  font-size: 18px;
}

nav li{
  float:left;
  list-style:none;
}

nav a{
  padding:10px;
  margin:0 10px;
  color:#fff;
  text-decoration:none;
}

nav a.current, nav a:hover{
  background: #83cd29;
  color:#000;
}

footer{
  text-align: center;
}

.meta{
  padding:7px;
  border:1px solid #ccc;
  background:#ccc;
  margin-bottom:10px;
}

a.more{
  display:block;
  width:80px;
  background:#404137;
  color:#fff;
  padding:10px;
  margin-top:30px;

  text-decoration: none;
}
.headpost{
  position: relative;
}

.headpost a.editpost{
  position: absolute;
  display:inline;
  width:70px;
  background: rgba(255, 146, 151, 0.92);
  color:#fff;
  padding:6px;
  right: 2px;
  top: 2px;

  text-decoration: none;
}


.post{
  border-bottom:1px solid #ccc;
  padding-bottom:20px;
}

.post h1 a{
  color:#666;
  text-decoration: none;
}


input, select, textarea{
  margin-bottom:15px;
}

label{
  display:inline-block;
  width:180px;
}

input[type='text'], select, textarea{
  padding:3px;
  height:20px;
  width:200px;
  border:1px #ccc solid;
}

select{
  height:28px;
}

textarea{

}

#texteditor{
  width:600px;
  margin-left: 100px;
  margin-bottom: 10px;
}

ul.success li{
  padding: 15px;
  margin-top:10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style:none;
}

ul.error li{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  list-style: none;
}

img.postimg{
  width: 100%;
}


.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}